<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="supporters"
      href="/tabs/supporters"
    >
      <ion-icon
        aria-hidden="true"
        name="people"
      ></ion-icon>
      <ion-label>サポーター</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="cats"
      href="/tabs/cats"
    >
      <ion-icon
        aria-hidden="true"
        name="logo-octocat"
      ></ion-icon>
      <ion-label>地域の猫</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="informations"
      href="/tabs/informations"
    >
      <ion-icon
        aria-hidden="true"
        name="information-circle"
      ></ion-icon>
      <ion-label>お知らせ</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>